{% extends 'layout.html' %}
{% block content %}
		<h1>Login Page</h1>
		<form method="POST" class="signup-form col-md-4 offset-md-4 col-sm-8 offset-sm-2" action="includes/login.inc.php">
			<div class="form-group">
				{% if login %}
					{% if login == 'login-empty' %}
						<script>alert("Please enter a value into each field.")</script>
						<input class="form-control mr-sm-2" type="text" name="uid" placeholder="Username/e-mail">
					{% elif login == 'login-error' %}
						<script>alert("You\'ve enterd an incorrect username or password! Please try again.")</script>
						<input class="form-control mr-sm-2" type="text" name="uid" value="{{ uid }}"placeholder="Username/e-mail">
					{% endif %}
				{% elif uid %}
					<script>alert("You\'ve successfully signed up! Please login to view your content.")</script>';
					<input class="form-control mr-sm-2" type="text" name="uid" value="{{ uid }}"placeholder="Username/e-mail">
				{% else %}
					<input class="form-control mr-sm-2" type="text" name="uid" placeholder="Username/e-mail">
				{% endif %}
				<input class="form-control mr-sm-2" type="password" name="pwd" placeholder="Password">
				<button class="form-control btn-success submit-btn" type="submit" name="submit" style="margin-top:5px">Login</button>
			</div>
	    </form>
{% endblock content %}